[build]
  command = "npm run build"
  publish = ".netlify/functions-internal"
  functions = ".netlify/functions-internal"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200